.btn-book {
  margin-left: auto;
}

.home {
  margin: 40px 0 0;
}
.home h1 {
  margin: 0 auto 40px;
}

.video-wrapper {
  position: relative;
  z-index: 1;
}
.video-wrapper__text {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 428px;
  padding: 20px 40px;
  width: 100%;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1.6px;
}