/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1650px) {
  .menu li {
    margin: 0 20px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
  .phone {
    margin: 0 20px 0 0;
  }
  h1, .h1 {
    font-size: 100px;
  }
  .benefits-row__content {
    padding: 60px;
  }
  .services-card__number {
    font-size: 160px;
    margin: 0 0 40px;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    padding: 0 24px;
  }
  body {
    padding-top: 61px;
  }
  header {
    position: fixed;
    z-index: 10;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
  }
  header .row {
    margin: 0 -5px;
  }
  header .btn-callback {
    display: none;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 61px);
    max-width: 287px;
    width: 100%;
    background: #16181C;
    padding: 60px 24px 60px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: none;
    z-index: 10;
  }
  .nav-menu .btn-callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0 0;
    width: 100%;
  }
  .nav-menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu li {
    margin: 0 0 30px;
  }
  .menu li:last-child {
    margin: 0;
  }
  .video-wrapper__text {
    font-size: 36px;
  }
  .benefits-row__content .h3 {
    font-size: 140px;
  }
  .benefits-row__content .h3 span {
    font-size: 24px;
  }
  .menu-document {
    margin-right: 20px;
  }
  .contacts-card {
    margin: 0 40px 20px 0;
  }
  .contacts-card:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1400px) {
  .formats .advantages-scene-column {
    margin-bottom: 40px;
    padding-top: 0;
  }
  h2, .h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1200px) {
  h3, .h3 {
    font-size: 24px;
    letter-spacing: -0.5px;
  }
  .home {
    margin: 40px 0 0;
  }
  .services {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
  }
  .services h2 {
    padding: 0;
    max-width: none;
  }
  .services-card {
    position: relative;
    z-index: 1;
    border: none;
    padding: 20px 0;
  }
  .services-card::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 1px;
    width: calc(100% + 80px);
    background: #C7CBD1;
  }
  .services-card__number {
    font-size: 120px;
    letter-spacing: -4.8px;
    margin: 0 0 30px;
  }
  .services-card .h4 br {
    display: none;
  }
  .services-card .box-text {
    margin: 20px 0 0;
  }
  .formats .advantages-scene-column {
    margin-bottom: 40px;
  }
  .formats .advantages-scene-column:nth-child(even) {
    padding-top: 0;
  }
  .contacts-content {
    padding-top: 60px;
  }
  footer .logo {
    margin: 0 0 20px;
  }
  .logo-developer {
    margin: 40px 0 0;
  }
  .menu-document {
    width: 100%;
    margin: 0 0 6px;
  }
  .menu-document:last-child {
    margin: 0;
  }
  .menu-document li {
    margin: 0 0 6px;
  }
  .menu-document li:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 992px) {
  h1, .h1 {
    font-size: 70px;
  }
  h2, .h2 {
    margin: 0 0 20px;
    font-size: 30px;
  }
  .pt-120 {
    padding-top: 60px;
  }
  .pb-120 {
    padding-bottom: 60px;
  }
  .p-200 {
    padding: 120px 0;
  }
  .mb-40 {
    margin-bottom: 20px;
  }
  label {
    margin: 0 0 20px;
  }
  label:last-child {
    margin: 0;
  }
  input, select, textarea, .form-callback {
    font-size: 16px;
  }
  .form-footer {
    margin: 20px 0 0;
  }
  .box-text {
    font-size: 16px;
    letter-spacing: -0.2px;
  }
  .benefits-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .benefits-row__image {
    width: 100%;
  }
  .benefits-row__content {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 20px 24px 40px;
  }
  .benefits-row__content span {
    font-size: 16px;
  }
  .benefits-row__content .h3 {
    font-size: 120px;
    letter-spacing: 0;
  }
  .benefits-row__content .h3 span {
    font-size: 16px;
  }
  .benefits-row__content .h3 span sup {
    font-size: 12px;
  }
  .scene-section {
    padding: 300px 0;
  }
  .advantages-row {
    overflow-x: auto;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .advantages {
    padding: 60px 0;
  }
  .advantages-column {
    min-width: 405px;
  }
  .advantages-box .box-text {
    margin: 10px 0 0;
  }
  .advantages-box__img {
    height: 500px;
  }
  .advantages-column:nth-child(even) {
    padding-top: 0;
  }
  .advantages-column:nth-child(even) .advantages-box__img {
    height: 400px;
  }
  .home .btn-callback {
    margin: 0 auto;
  }
  .home .subtitle-text {
    margin-bottom: 40px;
  }
  .video-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video-wrapper__text {
    text-align: center;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px auto 40px;
    font-size: 28px;
    padding: 0;
    max-width: 450px;
    letter-spacing: -1.1px;
  }
  .advantages-scene {
    padding: 60px 0 100px;
  }
  .advantages-scene-column {
    margin-bottom: 40px;
  }
  .advantages-scene-column br {
    display: none;
  }
  .advantages-scene-column .advantages-box__img {
    height: 432px;
  }
  .advantages-scene-column:nth-child(even) {
    padding-top: 0;
  }
  .formats {
    padding: 60px 0 20px;
  }
  .variable {
    padding: 0 0 60px;
  }
  .question h2 {
    margin-bottom: 40px;
  }
  .accordion-item::before {
    width: 100%;
  }
  .accordion-button__icon {
    margin-right: 0;
  }
  .client-box {
    min-width: 200px;
    margin: 0 10px 0 0;
  }
  .callback-wrapper {
    padding: 40px;
  }
  .map-wrapper {
    width: 100%;
    height: 400px;
  }
  .prices-content {
    padding: 0;
  }
  .prices {
    padding: 60px 0;
  }
  .price-card {
    margin: 0 0 20px;
  }
  .price-card:last-child {
    margin: 0;
  }
  .price-card .h4 {
    margin: 0 0 20px;
  }
  .price-card__description {
    margin: 20px 0 0;
  }
  .price-big {
    font-size: 40px;
    letter-spacing: -1.6px;
    margin: 0 0 20px;
  }
  .price-big span {
    font-size: 20px;
    letter-spacing: -0.8px;
  }
  .btn-book-event {
    margin: 40px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .logo-developer {
    width: 100%;
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .logo-developer svg {
    max-width: 125px;
  }
  .logo-developer span {
    margin: 0 auto 0 0;
  }
  .contacts-content-row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .list-social {
    margin: 0 0 20px auto;
  }
  .contacts-card {
    width: calc(100% - 120px);
    margin: 0 0 20px;
    font-size: 18px;
    letter-spacing: -0.7px;
  }
  .address-card {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .address-card br {
    display: none;
  }
  .contacts-content__img {
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 576px) {
  h1, .h1 {
    font-size: 48px;
    letter-spacing: 4.8px;
    margin: 0 auto 20px;
  }
  h2, .h2 {
    font-size: 28px;
    margin: 0 0 20px;
  }
  h4, .h4 {
    font-size: 18px;
    letter-spacing: -0.4px;
    margin: 0 0 10px;
  }
  .p-200 {
    padding: 60px 0;
  }
  .btn {
    padding: 16px 20px;
  }
  .btn-location {
    font-size: 16px;
  }
  .phone {
    margin: 0 10px 0 0;
    font-size: 16px;
  }
  .video-box {
    height: 350px;
  }
  .scene-section {
    padding: 106px 0;
  }
  .advantages-scene {
    padding: 60px 0 20px;
  }
  .advantages-scene h4 {
    margin: 0;
  }
  .formats .advantages-scene-column .advantages-box__img {
    height: 211px;
  }
  .accordion-button {
    font-size: 16px;
    letter-spacing: -0.3px;
  }
  .accordion-item {
    padding: 0 0 20px;
    margin: 0 0 20px;
  }
  .accordion-item:last-child {
    margin: 0;
  }
  .clients h2 {
    margin: 0;
  }
  .clients-wrapper {
    padding: 0 24px;
  }
  .client-box {
    min-width: 100px;
    margin: 0;
    padding: 0 5px;
  }
  .contacts-content {
    padding-top: 40px;
  }
  .map-wrapper {
    height: 260px;
  }
  .ui-datepicker {
    padding: 20px 13px;
    max-width: 352px;
  }
  .modal-content {
    padding: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .ui-datepicker {
    max-width: 270px;
  }
}
@media only screen and (max-width: 370px) {
  .benefits-row__content .h3 {
    font-size: 100px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  .btn-burger {
    width: 40px;
    min-width: 40px;
  }
  .phone {
    font-size: 14px;
  }
  .logo {
    max-width: 120px;
  }
  .callback-wrapper {
    padding: 20px;
  }
  .amount span {
    right: 15px;
  }
  .amount input {
    padding-right: 37px;
  }
  .contacts-card a {
    font-size: 20px;
  }
}