@import "vars"

header
    padding: 10px 0
    width: 100%
    background: #0E0E0E
    border-bottom: 1px solid #2C3039
    margin: 0 0 20px
    .container
        padding: 0 10px
    .row
        margin: 0 -10px
    .logo
        margin: 0 0 0 10px

.logo
    @include d-flex
    max-width: 135px
    width: 100%

.nav-menu
    margin: 0 auto
    .btn-callback
        display: none

.menu
    display: flex
    align-items: center
    font-size: 12px
    line-height: 120%
    font-weight: normal
    text-transform: uppercase
    li
        margin: 0 40px 0 0
        &:last-child
            margin: 0
        a
            color: #fff
            &:hover
                color: #8A9099

.phone
    font-size: 18px
    font-weight: 500
    margin: 0 40px 0 0
    color: #fff
    &:hover
        color: $dark-2

.btn-burger
    width: 63px
    height: 60px
    min-width: 63px
    background: url('../img/burger-icon.svg') no-repeat center
    background-size: 40px
    &.click
        background: url('../img/close-icon.svg') no-repeat center
        background-size: 40px

.menu-overlay
    position: fixed
    top: 61px
    left: 0
    right: 0
    bottom: 0
    background: rgba(#0E0E0E,.7)
    // backdrop-filter: blur(3px)
    z-index: 8
    opacity: 0
    visibility: hidden
    transition: .3s
    &.show
        opacity: 1
        visibility: visible

