@import "vars"

.btn-book
    margin-left: auto

.home
    margin: 40px 0 0
    h1
        margin: 0 auto 40px

.video-wrapper
    position: relative
    z-index: 1
    &__text
        position: absolute
        top: 0
        left: 0
        max-width: 428px
        padding: 20px 40px
        width: 100%
        font-size: 40px
        font-weight: 300
        line-height: 120%
        letter-spacing: -1.6px

.advantages
    padding: 120px 0 200px
    background: #0E0E0E

.btn-location
    margin-left: auto

.advantages-column
    &:nth-child(even)
        padding-top: 190px

.advantages-box
    width: 100%
    height: 100%
    position: relative
    z-index: 1

    &__img
        width: 100%
        height: 600px
        position: relative
        z-index: 1
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0.2
            background: #000
            transition: .3s ease
    &:hover
        .advantages-box__img
            &::before
                opacity: 0
    &__body
        width: 100%
        padding: 20px 0 0
    h4, .h4
        margin: 0
    .box-text
        margin: 20px 0 0

// benefits
.benefits
    background: #fff
    color: #0E0E0E

.benefits-row
    width: 100%
    display: flex
    align-items: stretch
    flex-wrap: wrap
    &__content
        width: 50%
        padding: 120px
        display: flex
        flex-direction: column
        align-items: flex-start
        span
            text-transform: uppercase
            color: #2C3039
            font-size: 26px
            line-height: 120%
        .h3
            font-weight: 100
            font-size: 200px
            line-height: 120%
            span
                font-size: 30px
                font-weight: 300
                margin: 0 0 0 10px
                sup
                    font-size: 20px
                    line-height: 100%

        .box-text
            margin: auto 0 0
            max-width: 300px
    &__image
        width: 50%
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover

.scene-section
    width: 100%
    text-align: center
    background: url('../img/scene.jpg') no-repeat center
    background-size: cover
    padding: 530px 0 390px
    h2
        margin: 0 auto

.advantages-scene
    padding: 120px 0 200px

.advantages-scene-column
    &:nth-child(even)
        padding-top: 190px

.services
    padding: 0 0 120px
    h2
        padding-top: 120px

.services-card
    padding: 120px 0 0 40px
    border-left: 1px solid #C7CBD1
    &__number
        margin: 0 0 80px
        color: #E6E8EB
        font-size: 200px
        font-weight: 100
        line-height: 80%
        letter-spacing: -8.0px
    .box-text
        margin: 40px 0 0

.services-card2
    padding-top: 240px

.services-card3
    padding-top: 360px

.clients
    overflow: hidden

.clients-wrapper
    width: 100%
    display: flex
    align-items: stretch
    overflow-x: auto

.client-box
    min-width: 303px
    width: 100%
    max-width: 303px
    margin-right: 5px
    border-right: 1px solid #2C3039
    @include d-flex
    &:last-child
        border: none

.callback
    background: url('../img/callback-bg.jpg') no-repeat center
    background-size: cover

.callback-wrapper
    margin: 0 auto 0
    width: 100%
    max-width: 606px
    background: #16181C
    padding: 100px 40px

.form-callback
    margin: 0 auto
    width: 100%
    max-width: 406px
    color: #8A9099
    font-size: 18px
    line-height: 110%

.form-footer
    width: 100%
    margin: 40px 0 0

.consent
    margin: 0 auto 20px
    font-size: 12px
    line-height: 120%
    text-align: center

.datepicker
    background: url('../img/arrow-bottom.svg') no-repeat 100% top
    background-size: 22px

.number-guests
    width: 100%
    display: flex
    align-items: center
    .amount
        margin-left: auto
    &:hover
        color: #fff
    &.is-active
        color: #fff
        input
            color: #fff
            border-color: #fff

.amount
    width: 94px
    height: 52px
    position: relative
    z-index: 1

    input
        width: 100%
        height: 100%
        text-align: left
        background: transparent
        color: #8A9099
        font-size: 18px
        line-height: 110%
        padding: 4px 42px 4px 20px
        border: 1px solid #2C3039
        border-radius: 0
        &:focus, &:active, &:validate
            color: #fff
            border-color: #fff
    span
        fill: none
        width: 22px
        height: 22px
        stroke: #fff
        position: absolute
        right: 22px
        cursor: pointer
        @include d-flex
    &-up
        top: 4px
    &-down
        bottom: 4px

.contacts
    position: relative
    overflow: hidden

.map-wrapper
    width: calc(100% + 40px)
    height: 100%
    filter: grayscale(100%)
    @include d-flex
    iframe
        width: 100%
        height: 100%
        object-fit: cover

.custom-pin
    width: 54px
    height: 67px
    background: url("img/pin.svg") center contain no-repeat

.contacts-content
    padding: 120px 0 0
    &__img
        width: 100%
        @include d-flex

.contacts-content-row
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap

.contacts-card
    margin: 0 120px 20px 0
    font-size: 24px
    font-weight: 300
    line-height: 120%
    letter-spacing: -1.0px
    &:last-child
        margin-right: 0
    span
        display: block
        color: #5F656E
        font-size: 12px
        line-height: 120%
        text-transform: uppercase
        margin: 0 0 10px
    a
        color: #fff
        margin: 0
        &:hover
            color: #5F656E

.list-social
    display: flex
    align-items: flex-start
    li
        a
            width: 40px
            height: 40px
            margin: 0 10px 0 0
            fill: #8A9099
            @include d-flex
            &:last-child
                margin: 0
            &:hover
                fill: #fff

// question
.question
    overflow: hidden

.accordion
    border: none
    border-radius: 0

.accordion-item
    background: transparent
    border: none
    border-radius: 0
    color: #8A9099
    margin: 0 0 40px
    padding: 0 0 40px
    position: relative
    z-index: 1
    &::before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: calc( 100% + 40px )
        height: 1px
        background: #2C3039

    &:last-child
        margin: 0
    &:has(.accordion-button:not(.collapsed))::before
        background: #C7CBD1

.accordion-item:first-of-type, .accordion-item:first-of-type .accordion-button, .accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type
    border-radius: 0

.accordion-button
    background: transparent
    padding: 0
    margin: 0
    font-size: 20px
    line-height: 120%
    color: #8A9099
    letter-spacing: -0.5px
    text-transform: uppercase
    border: none
    border-radius: 0
    display: flex
    align-items: flex-start
    span
        max-width: 650px
    &:after
        display: none
    &__icon
        min-width: 22px
        width: 22px
        height: 22px
        fill: none
        stroke: #FFFFFF
        margin: 0 40px 0 auto

    &:not(.collapsed)
        box-shadow: none
        color: #fff
        background: transparent
        .accordion-button
            &__icon
                transform: rotate(180deg)
    &:focus
        box-shadow: none

.accordion-body
    padding: 20px 0 0
    font-weight: normal
    .box-text
        max-width: 873px
