@import "vars"

.btn-book
    margin-left: auto

.home
    margin: 40px 0 0
    h1
        margin: 0 auto 40px

.video-wrapper
    position: relative
    z-index: 1
    &__text
        position: absolute
        top: 0
        left: 0
        max-width: 428px
        padding: 20px 40px
        width: 100%
        font-size: 40px
        line-height: 120%
        letter-spacing: -1.6px

.advantages
    padding: 120px 0 200px
    background: #0E0E0E

.btn-location
    margin-left: auto

.advantages-column
    &:nth-child(even)
        padding-top: 190px

.advantages-box
    width: 100%
    height: 100%
    position: relative
    z-index: 1

    &__img
        width: 100%
        height: 600px
        position: relative
        z-index: 1
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0.2
            background: #000
    &__body
        width: 100%
        padding: 20px 0 0

// benefits
.benefits
    background: #fff
    color: #0E0E0E

.benefits-row
    width: 100%
    display: flex
    align-items: stretch
    flex-wrap: wrap
    &__content
        width: 50%
        padding: 120px
        display: flex
        flex-direction: column
        align-items: flex-start
        span
            text-transform: uppercase
            color: #2C3039
            font-size: 26px
            line-height: 120%
        .h3
            font-weight: 100
            font-size: 200px
            line-height: 120%
            span
                font-size: 30px
                font-weight: 300
                margin: 0 0 0 10px
                sup
                    font-size: 20px
                    line-height: 100%

        .box-text
            margin: auto 0 0
            max-width: 300px
    &__image
        width: 50%
        @include d-flex
        img
            width: 100%
            height: 100%
            object-fit: cover

.scene-section
    width: 100%
    text-align: center
    background: url('../img/scene.jpg') no-repeat center
    background-size: cover
    padding: 530px 0 390px
    h2
        margin: 0 auto

.advantages-scene
    padding: 120px 0 200px

.advantages-scene-column
    &:nth-child(even)
        padding-top: 190px
    
.services
    padding: 0 0 120px
    h2
        padding-top: 120px

.services-card
    padding: 120px 0 0 40px
    border-left: 1px solid #C7CBD1
    &__number
        margin: 0 0 80px
        color: #E6E8EB
        font-size: 200px
        font-weight: 100
        line-height: 80%
        letter-spacing: -8.0px
    .box-text
        margin: 40px 0 0

.services-card2
    padding-top: 240px

.services-card3
    padding-top: 360px

.formats
   

