/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1650px)
    .menu li
        margin: 0 20px 0 0
        &:last-child
            margin: 0

    .phone
        margin: 0 20px 0 0

    h1, .h1
        font-size: 100px

    .benefits-row__content
        padding: 60px

@media only screen and (max-width: 1440px)
    .container
        padding: 0 24px

    body
        padding-top: 61px

    header
        position: fixed
        z-index: 10
        padding: 0
        top: 0
        left: 0
        margin: 0
        .row
            margin: 0 -5px
        .btn-callback
            display: none
        .logo
            margin: 0 auto 0 0

    .btn-burger
        display: flex

    .nav-menu
        position: fixed
        right: 0
        bottom: 0
        height: calc(100% - 61px)
        max-width: 287px
        width: 100%
        background: #16181C
        padding: 60px 24px 60px 60px
        flex-direction: column
        align-items: flex-start
        display: none
        z-index: 10
        .btn-callback
            display: flex
            margin: auto 0 0
            width: 100%
        &.open
            display: flex

    .menu
        flex-direction: column
        align-items: flex-start
        li
            margin: 0 0 30px
            &:last-child
                margin: 0

    .video-wrapper__text
        font-size: 36px

    .benefits-row__content .h3
        font-size: 140px
        span
            font-size: 24px

@media only screen and (max-width: 1200px)
    h3, .h3
        font-size: 24px
        letter-spacing: -0.5px

    .home
        margin: 40px 0 0

@media only screen and (max-width: 992px)
    h1, .h1
        font-size: 70px

    h2, .h2
        margin: 0 0 20px
        font-size: 30px

    .mb-40
        margin-bottom: 20px


    .box-text
        font-size: 16px
        letter-spacing: -0.2px

    .benefits-row
        flex-direction: column
        align-items: flex-start

    .benefits-row__image
        width: 100%

    .benefits-row__content
        width: 100%
        order: 1
        padding: 20px 24px 40px
        span
            font-size: 16px

    .benefits-row__content .h3
        font-size: 120px
        letter-spacing: 0
        span
            font-size: 16px
            sup
                font-size: 12px

    .scene-section
        padding: 300px 0

    .advantages-row
        overflow-x: auto
        width: 100%
        flex-wrap: nowrap

    .advantages-column
        min-width: 405px

    .advantages-box__img
        height: 500px

    .advantages-column:nth-child(even)
        padding-top: 0
        .advantages-box__img
            height: 400px

    .home
        .btn-callback
            margin: 0 auto
        .subtitle-text
            margin-bottom: 40px

    .video-wrapper
        flex-direction: column
        align-items: center
        display: flex
        &__text
            text-align: center
            position: relative
            order: 1
            margin: 20px auto 40px
            font-size: 28px
            padding: 0
            max-width: 450px
            letter-spacing: -1.1px

    .advantages
        padding: 60px 0

@media only screen and (max-width: 768px)
    .mb-40
        margin-bottom: 20px

@media only screen and (max-width: 576px)
    h1, .h1
        font-size: 48px
        letter-spacing: 4.8px
        margin: 0 auto 20px

    h2, .h2
        font-size: 28px
        margin: 0 0 20px

    h4, .h4
        font-size: 18px
        letter-spacing: -0.4px
        margin: 0 0 10px

    .btn
        padding: 16px 20px

    .btn-location
        font-size: 16px

    .phone
        margin: 0 10px 0 0
        font-size: 16px

    .scene-section
        padding: 106px 0
@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)
    .benefits-row__content .h3
        font-size: 100px

    h2, .h2
        font-size: 24px

